.workspace-ribbon {
    background-color: #000000; /* Barra izquierda, iconos. */
}

.workspace-ribbon svg {
    fill: #ffffff; /* Cambia el color de los icon

    .workspace-ribbon svg:hover {
    fill: var(--color-accent); /* Cambia el color de los iconos al pasar el cursor */
}