.workspace-ribbon {
    background-color: #000000; /* Barra izquierda, iconos. */
}

.workspace-ribbon .icons {
    color: #ff3030; /* Cambia a tu color preferido. */
}

.workspace-ribbon .iconic:hover {
    color: #ff0000; /* Cambia a tu color de hover preferido. */
}

.workspace-ribbon .mod-active {
    background-color: #ff0606; /* Cambia a tu color preferido. */
}
